extends ../layouts/default

block main
  h1= title

block content
  - if (expeditions.length)
    - each expedition in expeditions
      include listitem

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No expeditions.&nbsp;
      a(href="/expeditions/new") create one
